<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>private pastebins</title>
    <META NAME="keywords" CONTENT="pastebin, paste bin">
    <META NAME="description" CONTENT="pastey paste bin">

    <script src='/pastey/bower_components/ractive/Ractive.js'></script>
    <script src='/pastey/bower_components/underscore/underscore.js'></script>
    <script src='/pastey/bower_components/jquery/dist/jquery.min.js'></script>

    <link href="/pastey/pastey.css" rel="stylesheet" type="text/css" />
</head>

<body>

    <div id="wrapper">
    <div id="header">
    <a href="/pastey"><img src="pastey_logo.png" border="0" alt="Pastey" title="Pastey"></a>
    </div>

    <div id="error"></div>

    <div id="container">       

     <script id='tmpl' type='text/ractive'>

     {{#paste}}
                <div id="content">
                        
                            <p>
                            Welcome to Pastey.  Pastey is a paste bin that allows you to upload source code and share it with other people.  Hit CTRL+Enter to quick add a paste. <br>For more shortcuts
                                see the <a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts" target="_blank">Ace editor shortcuts</a>
                            </p>
                        

                                <table cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="label">Theme</td>
                                    <td class="fieldcontainer">
                                        <select id="theme" on-change="updateTheme">            
                                        </select>                                        
                                    </td>

                                    <td class="label">Title <span class="mandatory">*</span></td>
                                    <td class="fieldcontainer">                                        
                                                <input id="title" type="text" name="title" on-change="updateTitle"/>
                                            <div class="errormessage" style="display: none">
                                                    Please enter a title for your pastebin
                                            </div>
                                    </td>
                                    <td class="label">Your Name <span class="mandatory">*</span></td>
                                    <td class="fieldcontainer">
                                                <input id="name" type="text" name="name" on-change="updateName"/>

                                            <div class="errormessage"  style="display: none">
                                                    Please enter your name
                                            </div>
                                    </td>

                                    <td class="label" align="right" style="text-align: right;">Language <span class="mandatory">*</span></td>
                                    <td class="fieldcontainer" style="white-space:nowrap;">

                                                <select id="language" name="language" on-change="updateLanguage">
                                                    {{#languages}}
                                                        <option value="{{name}}">{{name}}</option>
                                                    {{/languages}}                                          
                                                </select>

                                            <div class="errormessage"  style="display: none">
                                                    Please select the code language
                                            </div>
                                    </td>

                                </tr>
                                <tr>
                                <td class="label" style="vertical-align: top; padding-top: 7px">
                                Source 
                                <span class="mandatory">*</span>
                                </td>
                                <td colspan="7" class="fieldcontainer">

                                        <div id="editor"></div>
                                            
                                        <div class="errormessage" style="display: none">
                                                Please enter the code to put in the paste bin
                                        </div>
                                </td>
                                </tr>

                        </table>

                        <p>
                            <input type="submit" name="add" id="submitPasteButton" on-click="addPaste" value="Add New Paste"/>
                        </p>
                </div>

        </div>

    	<!-- footer -->
    	<div style="clearboth"></div>

    {{/paste}}

    </script>
    
    </div>

    <script src="/pastey/bower_components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/pastey/pastey-model.js"></script>
    <script type="text/javascript" src="/pastey/pastey-events.js"></script>
    <script type="text/javascript" src="/pastey/pastey-editor.js"></script>
    <script type="text/javascript" src="/pastey/pastey-controller.js"></script>

    <script stype="text/javascript">
        $( document ).ready(function() {
            setupPaste();
        });
    </script>

</body>

</html>

