<html>
    <head>
    <title>private pastebins</title>
    <META NAME="keywords" CONTENT="pastebin, paste bin">
    <META NAME="description" CONTENT="pastey paste bin">

    <script src='/pastey/bower_components/ractive/Ractive.js'></script>
    <script src='/pastey/bower_components/underscore/underscore.js'></script>
    <script src='/pastey/bower_components/jquery/dist/jquery.min.js'></script>

    <link href="/pastey/pastey.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div id="wrapper">
    <div id="header">
        <a href="/pastey"><img src="/pastey/pastey_logo.png" border="0" alt="Pastey" title="Pastey"></a>
    </div>

    <div id="error"></div>
 
    <div id="container">       
        
        <script id='tmpl' type='text/ractive'>

        <p id="updated"></p>
        <p>Theme: 
            <select id="theme" on-change="updateTheme">            
            </select>
            <input id="updatePasteButton" type="button" on-click="updatePaste" value="Update Paste"/>
        </p>

        {{#paste}}      
            <div id="langicon">
                <img src="/pastey/langicons/{{language}}.png" style="float: left; margin-right: 5px"/>
            </div>      
            <div id="content">
                <p><b>{{language}}</b> - submitted by
                {{name}} - {{title}}</p>                

                <div id="editor"></div>
            </div>
        {{/paste}}
        </script>

    </div>

    <!-- footer -->
    <div style="clearboth"></div>
    </div>

    <script src="/pastey/bower_components/ace-builds/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="/pastey/pastey-model.js"></script>
    <script type="text/javascript" src="/pastey/pastey-events.js"></script>
    <script type="text/javascript" src="/pastey/pastey-editor.js"></script>
    <script type="text/javascript" src="/pastey/pastey-controller.js"></script>

    <script stype="text/javascript">
        var pastebinkey = "<?php echo $pastebinkey; ?>";
        loadPaste(pastebinkey);
    </script>

</body>

</html>

